a {
	text-decoration: none;
}

hr {
	border: none;
	color: red;
	background-color: #AABB11;
	width: 150px;
	height: 7px;
}

ul {
	padding-left: 0;
	margin-left: 0;
	border-bottom: 1px solid blue;
	width: 150px;
}

#example_id {
	background-color: #fff;
}

ul a {
	display: block;
	background-color: #aac;
	border-top: 1px solid blue;
}

table, th, tr, td {
	border: 1px solid black;
}

.field {
	clear: left;
	margin-bottom: 5px;
}

img {
	float: left;
	margin-right: 16px;
	border: 8px solid #FF00AA;
	/*border-color: #F0C3A6;*/
}

.example {
	background-color: #caa;
}

form {
	width: 500px
}

form div {
	text-align: right;
}

input[type=text]{
	width: 150px;
}

input[type=submit]{
	border: none;
	background: none;
	color: #fff;
}

.wrap_test_style {
	color: #AA0044;
}

.change_size {
	font-size: 26px;
}